*
{
	margin: 0;
	padding: 0;
}

*, *:before, *:after
{
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after
{
	content: " ";
	display: table;
}

.clearfix:after
{
	clear: both;
}

/*---------- Font ----------*/

@font-face {
    font-family: "EuclidFlex-Bold";
    src: url("../font/EuclidFlex-Bold.woff") format('woff');
}

@font-face {
    font-family: "EuclidFlex-BoldItalic";
    src: url("../font/EuclidFlex-BoldItalic.woff") format('woff');
}

@font-face {
    font-family: "EuclidFlex-Light";
    src: url("../font/EuclidFlex-Light.woff") format('woff');
}

@font-face {
    font-family: "EuclidFlex-LightItalic";
    src: url("../font/EuclidFlex-LightItalic.woff") format('woff');
}

@font-face {
    font-family: "EuclidFlex-Medium";
    src: url("../font/EuclidFlex-Medium.woff") format('woff');
}

@font-face {
    font-family: "EuclidFlex-MediumItalic";
    src: url("../font/EuclidFlex-MediumItalic.woff") format('woff');
}

@font-face {
    font-family: "EuclidFlex-Regular";
    src: url("../font/EuclidFlex-Regular.woff") format('woff');
}

@font-face {
    font-family: "EuclidFlex-RegularItalic";
    src: url("../font/EuclidFlex-RegularItalic.woff") format('woff');
}

@font-face {
    font-family: "EuclidFlex-Ultralight";
    src: url("../font/EuclidFlex-Ultralight.woff") format('woff');
}

@font-face {
    font-family: "EuclidFlex-UltralightItalic";
    src: url("../font/EuclidFlex-UltralightItalic.woff") format('woff');
}

@font-face {
    font-family: "TitlingGothicFBCond-Bold";
    src: url("../font/TitlingGothicFBCond-Bold.woff") format('woff');
}

@font-face {
    font-family: "ZefaniStencil-Uppercase-Regular";
    src: url("../font/ZefaniStencil-Uppercase-Regular.woff") format('woff');
}

/*---------- BODY -----------*/

a
{
	text-decoration: none;
	color: #000;
}
/*---------- Header ---------*/

header
{
	padding: 2% 0;
	width: 85%;
	margin: 0 auto;
}

.logo
{
	width: 15%;
	float: left;
}

.navigation
{
	width: 51%;
	float: left;
	padding: 1.1% 0;
	margin: 0 0 0 5%;
}

.navigation ul li
{
	display: inline-block;
	float: left; 
	width: 25%;
	text-transform: uppercase;
	font-family: "EuclidFlex-Light";
	text-align: center;
	font-size: 1.1em;
}

.settings
{
	width: 29%;
	float: left;
	padding: 1% 0;
}

.submit, .user
{
	width: 5%;
	float: left;
}

.search
{
	float: left;
	border: none;
	font-size: 1.2em;
	margin: 0 0 0 5%;
	width: 30%;
}

.cart
{
	width: 10%;
	float: left;
	margin: 0 0 0 7%;
}

.cart img
{
	width: 60%;
}

.language
{
	width: 5%;
	margin: 0 0 0 7%;
}

/*---------- MAIN   ---------*/

main
{
	padding: 5% 0;
}

.first_product
{
	width: 85%;
	margin: 0 auto;
}

.img_product
{
	width: 30%;
	float: left;
	position: relative;
}

.id_product
{
	text-transform: uppercase;
	color: #c4b798;
	font-size: 12em;
	font-family: "TitlingGothicFBCond-Bold";
	float: left;
	margin: 0 0 0 5%;
}

.description_product
{
	text-transform: uppercase;
	color: #c4b798;
	font-size: 1.8em;
	font-family: "EuclidFlex-Light";
	float: left;
	margin: -2% 0 0 19%;
	font-weight: 300;
}

.discover
{
	text-transform: uppercase;
	color: #6b6b6b;
	font-size: 1.8em;
	font-family: "EuclidFlex-BoldItalic";
	float: left;
	font-weight: bold;
	border: 2px solid #6b6b6b;
	padding: 1.5% 0 1.5% 37%;
	width: 53%;
	margin: 11% 0 0 -3%;
}

.title_iconic_product
{
	text-transform: uppercase;
	color: #797979;
	font-size: 1.8em;
	font-family: "EuclidFlex-Bold";
	font-weight: bold;
	clear: both;
	text-align: center;
}

.selector
{
	background: #F6F6F6;
	margin: 5% 0;
	position: relative;
}

.selector button
{
	width: 5%;
	box-shadow: 3px 4px 6px 0;
	position: absolute;
	padding: 2%;
	background: #fff;
	border: none;
}

.button_left
{
	top: 45%;
	left: 5%;
}

.button_right
{
	top: 45%;
	right: 5%;
}

.product h2, .product h4, .product p
{
	text-align: center;
	color: #fff;
}

.product h2
{
	font-family: "EuclidFlex-Medium";
	font-weight: 500;
	font-size: 3.3em;
	margin: 10% 0 0 0;
	text-transform: uppercase;
}

.product h4
{

}

.product p
{
	font-family: "EuclidFlex-Light";
	font-size: 2.8em;
	margin: 5% 0 0 0;
}

.product a
{
	font-family: "EuclidFlex-Light";
	color: #c4b798;
	font-size: 2em;
	margin: 5% auto 15% auto;
	display: block;
	text-align: center;
	border: 2px solid;
	width: 60%;
	padding: 2% 0;
	text-transform: uppercase;
}

.product
{
	width: 25%;
	float: left;
	opacity: 0.25;
}

.product_active
{
	opacity: 1;
	background: #D7CFBD;
}
.product1
{
	margin: 0 0 0 12.5%;
}

.product2 a
{
	border-radius: 35px 5px 35px;
}

.product1 a, .product3 a
{
	border-radius: 35px;
}


.product3
{
	margin: 0 12.5% 0 0;
}

.product img
{
	margin: 10% auto 0 auto;
	display: block;
}

.product1 img, .product3 img
{
	width: 60%;
}

.product2 img
{
	width: 40%;
}

.see_more
{
	font-family: "EuclidFlex-Light";
	background-color: #8fbbdd;
	box-shadow: -3px 5px 4px 0;
	width: 25%;
	position: absolute;
	font-size: 2.1em;
	color: #fff;
	padding: 1% 0 1% 2%;
	top: 95%;
	right: 5%;
}

.title_guide
{
	text-transform: uppercase;
	color: #797979;
	font-size: 1.8em;
	font-family: "EuclidFlex-Bold";
	font-weight: bold;
	clear: both;
	text-align: center;
}

.grid
{
	width: 50%;
	margin: 5% auto;
}

.grid_guide
{
	float: left;
	width: 33%;
	border: solid 1px #979797;
}

.grid_guide:hover
{
	background: #8FBADD;
}

.grid_guide:hover .guide_img_white
{
	display: block;
}

.grid_guide:hover .guide_img
{
	display: none;
}

.grid_guide h4
{
	font-family: "EuclidFlex-Bold";
	font-size: 1.6em;
	text-align: center;
	margin: 15% 0 7% 0;
	text-transform: uppercase;
	color: #393939;
}

.grid_guide img
{
	height: 6em;
	margin: 20% auto 20% auto;
}

.grid a:last-child .grid_guide img
{
	margin: 10% auto 20% auto;
}

.guide_img
{
	display: block;
}

.guide_img_white
{
	display: none;
}


/*---------- Footer ---------*/
/*---------- Breakpoint -----*/
